#myh2 h2{
    text-decoration: underline;
}
#myh2 img{
    width: 630px;
    height: 250;
   
}
ul li{
margin-right: 80px;
}
button{
    border-radius: 30px;
    background-color: orangered;
    width: 300px;
    height: 55px;
    display: inline-block;
}
label img{
    border-radius: 30px;
    margin-right: 350px;
}
 ul button li a{
    width: 30px;
}
header{
    background-color: black;
}